<div class="animated fadeIn mb-4">
    <div class="row">
        <div class="col-12">
            <form class="card" [formGroup]="filterForm" (ngSubmit)="filterFormSubmit()">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Mã giảm giá</label>
                                <input formControlName="search" class="form-control" id="name" placeholder="Tên nhà cung cấp" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Tìm
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" *ngIf="rows.length==0">
        <div class="col-12">
            <div class="card">
                <p class="text-muted text-center my-4">Không có dữ liệu</p>
            </div>
        </div>
    </div>
    <ngx-datatable *ngIf="rows.length>0"
        #categoryTable
        class="material"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)='setPage($event)'>

        <!-- Row Detail Template -->
        <ngx-datatable-row-detail [rowHeight]="getHeight" #myDetailRow>
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <div class="px-4" >
                    <div><strong>ngày tạo</strong></div>
                    <div>{{row.description}}</div>
                    </div>
                </ng-template>
        </ngx-datatable-row-detail>

        <!-- Column Templates -->
        <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false">
        </ngx-datatable-column>
        <ngx-datatable-column name="STT" maxWidth="80">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <strong>{{rowIndex+1}}</strong>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="phần trăm giảm giá" maxWidth="150">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <strong>{{row.discount}}</strong>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="tên sản phẩm" >
            <ng-template let-row="row"  let-expanded="expanded" ngx-datatable-cell-template>
                <div class="text-truncate">
                    {{row.product.productName}}
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="mã giảm giá" >
                <ng-template let-row="row"  let-expanded="expanded" ngx-datatable-cell-template>
                    <div class="text-truncate">
                        {{row.discountCode}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
        <ngx-datatable-column name="">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <div class="row">
                    <button type="button" class="btn btn-sm btn-secondary mx-2" routerLink="/manage/table/edit/{{row.supplierId}}">Sửa</button>
                    <button type="button" class="btn btn-sm btn-danger mx-2" (click)="openModal(row)">Xóa</button>
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<ng-template #deleteModal>
    <div class="modal-body text-center">
        <p>Bạn có chắc chắn muốn xóa <strong>{{deleteRow.name}}</strong>?</p>
        <button type="button" class="btn btn-sm btn-default mx-2" (click)="confirm()" >Xóa</button>
        <button type="button" class="btn btn-sm btn-primary mx-2" (click)="decline()" >Quay lại</button>
    </div>
</ng-template>