<div class="animated fadeIn mb-4">
    <div class="row">
        <div class="col-12">
            <form class="card" [formGroup]="editorForm" (ngSubmit)="editorFormSubmit()">
                <div class="card-header">
                    <strong *ngIf="!promotionId">Tạo sự kiện giảm giá</strong>
                    <strong *ngIf="promotionId">Sửa sự kiện giảm giá</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="discount">Phần trăm giảm giá *</label>
                                <textarea formControlName="discount" class="form-control" id="discount"
									placeholder="Nhập phàn trăm giảm giá" type="text" [ngClass]="{'is-invalid': isSubmited && editorForm.get('discount').invalid}">
									</textarea>
                                <div class="invalid-feedback">
                                    <span *ngIf="editorForm.get('discount').errors?.required">Trường này không được
                                        bỏ trống</span>
                                    <span *ngIf="editorForm.get('discount').errors?.message">{{editorForm.get('discount').errors?.message}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="productId">Sản phẩm áp dụng *</label>
                                <textarea formControlName="productId" class="form-control" id="productId"
									placeholder="Mã sản phẩm" type="text" [ngClass]="{'is-invalid': isSubmited && editorForm.get('productId').invalid}">
									</textarea>
                                <div class="invalid-feedback">
                                    <span *ngIf="editorForm.get('productId').errors?.required">Trường này không được
                                        bỏ trống</span>
                                    <span *ngIf="editorForm.get('productId').errors?.message">{{editorForm.get('productId').errors?.message}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="discountCode">Mã giảm giá</label>
                                <textarea formControlName="discountCode" class="form-control" id="discountCode"
                                    placeholder="nhập mã giảm giá" type="text" [ngClass]="{'is-invalid': isSubmited && editorForm.get('discountCode').invalid}">
                                </textarea>
                                
                            </div>
                        </div>


                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Lưu
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>