<div class="animated fadeIn mb-4 pt-4">
<div class="d-none">
<svg width="0" height="0" class="hidden">
  <symbol viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" id="navigation-map-1">
    <title>Navigation Map</title>
    <desc>A line styled icon from Orion Icon Library.</desc>
    <path d="M24.4 32.8L20 33.9l-18-6v28L20 62l24-6.1 18 5v-27l-12-4m-30 4V62m24-24v17.9" stroke-miterlimit="10" stroke="#202020" fill="none" data-name="layer2" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer1, #202020)"></path>
    <path stroke-miterlimit="10" stroke="#202020" fill="none" d="M32 2a14 14 0 0 0-14 14c0 12.6 14 26 14 26s14-13.4 14-26A14 14 0 0 0 32 2z" data-name="layer1" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer1, #202020)"></path>
    <circle stroke-miterlimit="10" stroke="#202020" fill="none" r="4" cy="16" cx="32" data-name="layer1" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer1, #202020)"></circle>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="audio-call-1">
    <title>Audio Call</title>
    <desc>A line styled icon from Orion Icon Library.</desc>
    <path data-name="layer2" d="M32 62a30 30 0 1 1 28.9-22M32 62c15.5 0 22.8-9.3 16.7-15.4" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer1, #202020)"></path>
    <path data-name="layer1" d="M49.1 40c.8.5 2.1 1.3 1.8 3a8.6 8.6 0 0 1-8.1 6c-5.4 0-12-4.2-17.8-10.1S15 26.5 15 21.1a8.6 8.6 0 0 1 6-8.1c1.7-.2 2.4 1 3 1.8l4.1 6.2a2.9 2.9 0 0 1-.8 3.9c-1.7 1.4-3.6 2.2 2.9 8.7s7.3 4.7 8.7 2.9a2.9 2.9 0 0 1 3.9-.8z" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer1, #202020)"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="mail-1">
    <title>Mail</title>
    <desc>A line styled icon from Orion Icon Library.</desc>
    <path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10" d="M2 12l30 29 30-29M42 31.6L62 52M2 52l20-20.4" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer1, #202020)"></path>
    <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" d="M2 12h60v40H2z" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer1, #202020)"></path>
  </symbol>  
</svg>
</div>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-xl-6 mx-auto">
        <h4 class="mb-4 text-uppercase">Giới Thiệu Nhà Hàng</h4>
        <p class="lead mb-5">Chào mừng bạn đến với nhà hàng CTW 409 Kim Mã. Chúng tôi chuyên phục vụ đặt tiệc cưới, sinh nhật, tiếp khách... Với đội ngũ nhân viên nhiệt tình và cung cách phục vụ chuyên nghiệp, ứng dụng công nghệ nhằm tạo thuận lợi tối đa cho khách hàng, chúng tôi rất hân hạnh được phục vụ bạn.</p>
        <div class="row mb-4">
          <div class="col-md-4 text-center text-md-left">
            <svg class="svg-icon svg-icon-light text-primary w-3rem h-3rem mb-3">
              <use xlink:href="#navigation-map-1">
              </use>
            </svg>
            <h4 class="ff-base">Địa chỉ</h4>
            <p class="text-muted">409 Kim Mã<br>Ngọc Khánh, Ba Đình<br>Hà Nội, <strong>Vietnam</strong></p>
          </div>
          <div class="col-md-4 text-center text-md-left">
            <svg class="svg-icon svg-icon-light text-primary w-3rem h-3rem mb-3">
              <use xlink:href="#audio-call-1"> </use>
            </svg>
            <h4 class="ff-base">Điện thoại</h4>
            <p class="text-muted">Số máy bàn trong giờ từ 7 giờ đến 21 giờ</p>
            <p class="text-muted"><strong>+33 555 444 333</strong></p>
          </div>
          <div class="col-md-4 text-center text-md-left">
            <svg class="svg-icon svg-icon-light text-primary w-3rem h-3rem mb-3">
              <use xlink:href="#mail-1"> </use>
            </svg>
            <h4 class="ff-base">Hỗ trợ trực tuyến</h4>
            <p class="text-muted">Nếu có bất cứ thắc mắc hay ý kiến đóng góp, vui lòng gửi mail đến địa chỉ.</p>
            <ul class="list-unstyled text-muted">
              <li>Chủ nhà hàng:<br><a href="mailto:duongtnhat@gmail.com"><strong>duongtnhat@gmail.com</strong></a></li>
              <li>Quản lý:<br><a href="mailto:ThịnhLừaAE@gmail.com"><strong>ThịnhLừaAE@gmail.com</strong></a></li>
            </ul>
          </div>
        </div>
        <hr class="mb-5">
      </div>
      <div class="col-lg-6">      
      	<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      		<agm-marker *ngIf="dir==null" class="mapMarker" [latitude]="lat" [longitude]="lng"></agm-marker>
          <agm-direction *ngIf="dir!=null" 
            [origin]="dir.origin" 
            [destination]="dir.destination" 
            [visible]="show" 
            [renderOptions]="renderOptions" 
            [markerOptions]="markerOptions">
          </agm-direction>
      	</agm-map>
      </div>
    </div>
  </div>
</section>
</div>