<h2 style="color: seagreen">Sản phẩm bán chạy nhất</h2>
<app-main-carousel [slides]="slides" *ngIf="slides.length>0"></app-main-carousel> 

<div fxLayout="row wrap" class="info-bar">
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">card_giftcard</mat-icon>
            <div class="content">
                <p>Khuyến mãi</p> 
                <span class="text-muted m-0">Hàng ngàn sản phẩm khuyến mãi đang chờ đợi bạn</span>
            </div> 
        </mat-card> 
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50"> 
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">local_shipping</mat-icon>
            <div class="content">
                <p>Giao hàng miễn phí</p> 
                <span class="text-muted m-0">Hỗ trợ giao hàng miễn phí toàn Hà Nội </span>
            </div> 
        </mat-card>
    </div>
    <!-- <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50"> 
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">monetization_on</mat-icon>
            <div class="content">
                <p>Đổi trả</p> 
                <span class="text-muted m-0">Đổi trả hàng trong 30 ngày</span>
            </div> 
        </mat-card>
    </div> -->
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50"> 
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">history</mat-icon>
            <div class="content">
                <p>Hỗ trợ</p> 
                <span class="text-muted m-0">Hãy gọi:  091 257 20 78</span>
            </div> 
        </mat-card>
    </div>
</div>

<app-banners [banners]="banners"></app-banners>

<div class="products-tabs">  

    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onLinkClick($event)">
       
        <mat-tab label="Hàng mới về">           
           <app-products-carousel [products]="featuredProducts"></app-products-carousel>
        </mat-tab>
        <!-- <mat-tab label="On Sale">
           <app-products-carousel [products]="onSaleProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="Top Rated">
            <app-products-carousel [products]="topRatedProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="New Arrivals">
            <app-products-carousel [products]="newArrivalsProducts"></app-products-carousel>
        </mat-tab> -->
    </mat-tab-group> 


</div>

<!-- <app-brands-carousel [brands]="brands"></app-brands-carousel>  -->