<mat-tab-group >
    <mat-tab label="Thông tin khách hàng">
        <div class="p-2 mt-1">
            <form [formGroup]="billingForm" (ngSubmit)="onBillingFormSubmit(billingForm.value)">     
              <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Họ" formControlName="firstName" required>
                      <mat-error *ngIf="billingForm.controls.firstName.errors?.required">Họ ( không được bỏ trống )</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Tên" formControlName="lastName" required>
                      <mat-error *ngIf="billingForm.controls.lastName.errors?.required">Tên ( không được bỏ trống )</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Tên đệm" formControlName="middleName">
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Công ty" formControlName="company">
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Email" formControlName="email" required>
                      <mat-error *ngIf="billingForm.controls.email.errors?.required">Email ( không được bỏ trống )</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Điện thoại" formControlName="phone" required>
                      <mat-error *ngIf="billingForm.controls.phone.errors?.required">Điện thoại ( không được bỏ trống )</mat-error>
                  </mat-form-field>
                </div>
                <!-- <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
                  <mat-form-field class="w-100">
                    <mat-select placeholder="Đất nước" formControlName="country" required>
                      <mat-option *ngFor="let country of countries" [value]="country">
                          {{country.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="billingForm.controls.country.errors?.required">Đất nước ( không được bỏ trống )</mat-error>
                  </mat-form-field>
                </div> -->
                <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Thành phố" formControlName="city" required>
                      <mat-error *ngIf="billingForm.controls.city.errors?.required">Thành phố ( không được bỏ trống )</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Quận/Huyện" formControlName="state">
                  </mat-form-field>
                </div>
                <!-- <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Mã bưu cục" formControlName="zip" required>
                      <mat-error *ngIf="billingForm.controls.zip.errors?.required">Mã bưu cục ( không được bỏ trống )</mat-error>
                  </mat-form-field>
                </div> -->
                <div fxFlex="100" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Địa chỉ (Đường phố, Căn hộ, Tòa nhà...v.v)" formControlName="address" required>
                      <mat-error *ngIf="billingForm.controls.address.errors?.required">Địa chỉ ( không được bỏ trống )</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" class="text-center mt-2">
                    <button mat-raised-button color="primary" (click)="onBillingFormSubmit(billingForm.value)">Lưu</button>
                </div>
              </div>
            </form>
        </div>
    </mat-tab>
    <!-- <mat-tab label="Địa chỉ giao hàng">
        <div class="p-2 mt-1">
            <form [formGroup]="shippingForm" (ngSubmit)="onShippingFormSubmit(shippingForm.value)">     
              <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Họ" formControlName="firstName" required>
                      <mat-error *ngIf="shippingForm.controls.firstName.errors?.required">Họ ( không được bỏ trống )</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Tên" formControlName="lastName" required>
                      <mat-error *ngIf="shippingForm.controls.lastName.errors?.required">Tên ( không được bỏ trống )</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Tên đệm" formControlName="middleName">
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Công ty" formControlName="company">
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Email" formControlName="email" required>
                      <mat-error *ngIf="shippingForm.controls.email.errors?.required">Email ( không được bỏ trống )</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Điện thoại" formControlName="phone" required>
                      <mat-error *ngIf="shippingForm.controls.phone.errors?.required">Điện thoại ( không được bỏ trống )</mat-error>
                  </mat-form-field>
                </div>
                <!-- <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
                  <mat-form-field class="w-100">
                    <mat-select placeholder="Đất nước" formControlName="country" required>
                      <mat-option *ngFor="let country of countries" [value]="country">
                          {{country.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="shippingForm.controls.country.errors?.required">Đất nước ( không được bỏ trống )</mat-error>
                  </mat-form-field>
                </div> --
                <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Thành phố" formControlName="city" required>
                      <mat-error *ngIf="shippingForm.controls.city.errors?.required">Thành phố ( không được bỏ trống )</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Quận/Huyện" formControlName="state">
                  </mat-form-field>
                </div>
                <!-- <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Mã bưu cục" formControlName="zip" required>
                      <mat-error *ngIf="shippingForm.controls.zip.errors?.required">Mã bưu cục ( không được bỏ trống )</mat-error>
                  </mat-form-field>
                </div> --
                <div fxFlex="100" class="px-1">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Địa chỉ (Đường phố, Căn hộ, Tòa nhà...v.v)" formControlName="address" required>
                      <mat-error *ngIf="shippingForm.controls.address.errors?.required">Địa chỉ ( không được bỏ trống )</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" class="text-center mt-2">
                    <button mat-raised-button color="primary" (click)="onShippingFormSubmit(shippingForm.value)">Lưu</button>
                </div>
              </div>
            </form>
        </div>
    </mat-tab> -->
</mat-tab-group>
