<mat-card fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxFlex="100" fxFlex.gt-xs="33.3">
        <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
            <mat-icon color="primary" class="mat-icon-lg">home</mat-icon>
            <h3 class="primary-text py-1">Địa chỉ :</h3>
            <span class="text-muted">25 ngõ 91,đường Hồng Hà,Phúc Xá,Ba Đình
                Hà Nội</span>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon color="primary" class="mat-icon-lg">call</mat-icon>
            <h3 class="primary-text py-1">Số điện thoại liên hệ :</h3>
            <span class="text-muted">091 257 20 78</span>
            
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon color="primary" class="mat-icon-lg">mail_outline</mat-icon>
            <h3 class="primary-text py-1">E-MAIL :</h3>
            <span class="text-muted">tramanhjp@gmail.com</span>
            
        </div>
    </div>
    <div class="divider w-100 mt-2"></div>
    <h3 class="w-100 text-center py-2">Liên hệ với chúng tôi</h3>
    
    <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit(contactForm.value)" fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Tên" formControlName="name" required>
              <mat-error *ngIf="contactForm.controls.name.errors?.required">Trường này không thể để trống</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="contactForm.controls.email.errors?.required">Email không được để trống</mat-error>
              <mat-error *ngIf="contactForm.controls.email.hasError('invalidEmail')">Địa chỉ email không đúng</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Số điện thoại" formControlName="phone" required>
              <mat-error *ngIf="contactForm.controls.phone.errors?.required">Số điện thoại không đươc để trống</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" class="px-1 mt-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Tin nhắn" formControlName="content" required>
              <mat-error *ngIf="contactForm.controls.content.errors?.required">Tin nhắn không dược để trống</mat-error>
          </mat-form-field>
        </div> 
        <div class="w-100 py-2 text-center">
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </div> 
    </form>

</mat-card>