<div *ngIf="appService.Data.cartList.length == 0">
  <mat-chip-list>
      <mat-chip color="warn" selected="true">Không có mạt hàng nào được thêm</mat-chip>
  </mat-chip-list>
  <a [routerLink]="['/']" mat-raised-button color="primary" class="mt-2">Tiếp tục mua sắm</a>
</div>

<mat-card *ngIf="appService.Data.cartList?.length > 0" class="p-0">

  <div class="mat-table cart-table">
    <div class="mat-header-row">
      <div class="mat-header-cell">Sản phẩm</div>
      <div class="mat-header-cell">Tên sản phẩm</div>
      <div class="mat-header-cell">Gía</div>      
      <div class="mat-header-cell">Số lượng</div>
      <div class="mat-header-cell">Tổng giá</div>
      <div class="mat-header-cell text-center">
        <div class="px-1">
          <button mat-raised-button color="warn" (click)="clear()">Xóa tất cả</button>
        </div>
      </div>
    </div>
    <div *ngFor="let product of appService.Data.cartList" class="mat-row">
      <div class="mat-cell"><img [src]="product.images[0].small"></div>
      <div class="mat-cell"><a [routerLink]="['/products', product.id, product.name]" class="product-name">{{product.name}}</a></div>
      <div class="mat-cell">₫{{product.newPrice | number : '1.0-0'}}</div>      
      <div class="mat-cell text-muted">
        <app-controls [product]="product" [type]="'wish'" (onQuantityChange)="getTotalPrice($event)"></app-controls>
      </div>
      <div class="mat-cell">₫{{total[product.id] | number : '1.0-0'}}</div>
      <div class="mat-cell text-center">
        <div class="p-1">
          <button mat-mini-fab color="warn" (click)="remove(product)" matTooltip="Xóa">
              <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      
    </div>
    <div class="mat-row">
      <div class="mat-cell"><a [routerLink]="['/']" mat-raised-button color="primary">Tiếp tục mua sắm</a></div>
      <div class="mat-cell"></div>
      <div class="mat-cell"></div>
      <div class="mat-cell text-right">
        <div fxLayout="column" fxLayoutAlign="center end" class="grand-total px-2">
          <span>Tổng giá:</span>
        </div>        
      </div>
      <div class="mat-cell">
        <div fxLayout="column" fxLayoutAlign="center start" class="grand-total">
          <span>₫{{ grandTotal | number : '1.0-0'}}</span>
        </div>
      </div>
      <div class="mat-cell text-center"><a [routerLink]="['/checkout']" mat-raised-button color="primary">Tiến hành thanh toán</a></div>
    </div>
  </div>

</mat-card>