<div class="app-body">
  <main class="main d-flex align-items-center" *ngIf="customerProfile">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <form [formGroup]="infoForm" (ngSubmit)="onFormSubmit()">
                <div class="card-body">
                  <h1>Thông tin cá nhân</h1>
                  <p class="text-muted">Cập nhật thông tin</p>
                  <p [ngClass]="{'text-danger': isErrorMessage, 'text-success':!isErrorMessage}">{{errorMessage}}</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user"></i>
                      </span>
                    </div>
                    <input formControlName="name" type="text" class="form-control" placeholder="Fullname" [ngClass]="{'is-invalid': isSubmited && infoForm.get('name').invalid}">
                    <div class="invalid-feedback">
                      Trường không được bỏ trống
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-phone"></i>
                      </span>
                    </div>
                    <input formControlName="phone" type="text" class="form-control" placeholder="Phone" [ngClass]="{'is-invalid': isSubmited && infoForm.get('phone').invalid}">
                    <div class="invalid-feedback">
                      Trường không được bỏ trống
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-question"></i>
                      </span>
                    </div>
                    <select formControlName="gender"id="gender" name="gender" class="form-control">
                      <option value="1">Nam</option>
                      <option value="0">Nữ</option>
                    </select>
                    <div class="invalid-feedback">
                      Trường không được bỏ trống
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 text-left">
                      <a href="http://localhost:4200/" class="btn btn-primary px-4" *ngIf="customerProfile.phone">Quay về trang chủ</a>
                    </div>
                    <div class="col-6 text-right">
                      <button type="submit" class="btn btn-primary px-4">Lưu</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>