<div fxLayout="row" fxLayout.xs="column" [fxLayoutAlign]="align" class="text-muted">
    <div *ngIf="product?.availibilityCount > 0 && (type=='all' || type=='wish')">
        <span *ngIf="type!='wish'" class="fw-500">Số lượng:</span> 
        <button mat-icon-button matTooltip="Giảm" (click)="decrement()"><mat-icon>remove</mat-icon></button>
        <span> {{count}} </span>
        <button mat-icon-button matTooltip="Tăng" (click)="increment()"><mat-icon>add</mat-icon></button>
    </div>
    <div *ngIf="type!='wish'">
        <!-- <button mat-icon-button matTooltip="Add to wishlist" (click)="addToWishList(product)"><mat-icon>favorite</mat-icon></button> -->
        <button mat-button matTooltip="Thêm vào giỏ hàng" style="color:red" *ngIf="product?.availibilityCount > 0" (click)="addToCart(product)"><mat-icon>shopping_cart</mat-icon> Thêm vào giỏ hàng</button>
        <!-- <button mat-icon-button matTooltip="Add to compare" (click)="addToCompare(product)"><mat-icon>compare</mat-icon></button> -->
        <button *ngIf="type!='all'" mat-button matTooltip="Xem nhanh" (click)="openProductDialog(product)"><mat-icon>remove_red_eye</mat-icon> Xem nhanh</button>
    </div>
</div> 
<div *ngIf="product?.availibilityCount == 0 && type=='all'" class="bg-warn p-1 mt-2">
    <!-- Sorry, this item is unavailable. Please choose a different one. -->
    Xin lỗi, sản phẩm này tạm hết. Quý khách vui lòng chọn sản phẩm khác
</div>